/* *{
    border: 1px solid black;
} */

/* html{
    background-color: antiquewhite;
} */

/* header{
    padding: 20px;
    background-color : yellow;
} */

 body > * {
     margin: 0;
 }
.header{
    height:200px ;
    width:100%;
    background-color : #264653;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.header__logo-and-go{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

.header__primary_menu{
    width:100%;
    color: #E9C46A;
    margin-bottom: 5px;
}
.header__primary_menu nav ul{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: left;
  width: 100%;


}
.header__primary_menu nav ul  a{
    text-decoration: none;
    color:#E9C46A;
    margin:5px 20px;
    font-size: 24px;
  }
.content{
    min-height:calc(100vh - (480px));
    background-color : #2a9d8f;
    
}

.footer{
    margin-top:-16px;
    height:280px ;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    background-color : #48160a;
}

.footer__top{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.footer__bottom{
    text-align: center;
}

